<div class="cards-container">
    <div class="card">
        <img src="./img/port1.jpg" alt="Thumbnail 1">
        <p>Poverty</p>
    </div>
    <div class="card">
        <img src="./img/port2.jpg" alt="Thumbnail 2">
        <p>Real Estate</p>
    </div>
    <div class="card">
        <img src="./img/port3.jpg" alt="Thumbnail 3">
        <p>Riots</p>
    </div>
    <div class="card">
        <img src="./img/port4.jpg" alt="Thumbnail 4">
        <p>Today's equal world?</p>
    </div>
    <div class="card">
        <img src="./img/port5.jpg" alt="Thumbnail 5">
        <p>Ill effects of watching TV</p>
    </div>
    <div class="card">
        <img src="./img/port6.jpg" alt="Thumbnail 6">
        <p>Doping or legit</p>
    </div>
</div>
